/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif "Helvetica";
}
*/
/***********
NAVBAR STUFF
***********/


/*.navbar-default {
  background-color: white;
  border-color: white;
}*/

/*.navbar-header {
  position: fixed;
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 0;
}*/

.well {
  max-width: 100%;  
}

header.nav {
  padding-bottom: 100;
}

img.audrev {
  margin-top: 10;
}
/*.navbar-brand {
  float:none;
}

.navbar-default .navbar-nav {
  background: #ff7b34;
  left: 0;
  right: 0;
  border-color: transparent;
}

.navbar-default .navbar-nav > li {
  float: right;
  border-color: transparent;
}

.navbar-default .navbar-nav > .active {
  background-color: #7f5640;
  border-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #7f5640;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: #7f5640;
}*/

/*.glyphicon {
   color: white;
   line-height: 20px;
   padding-left: 20;
   padding-right: 20;
   font-size: 20;
}

.navbar-collapse {
  border-top: transparent;
}

.navbar-text {
  margin-top: 10;
  padding-top: 10;
  margin-right: 10;
  padding-right: 10;
  float: right;
}*/

nav {
	position:absolute;
	background:none;
	z-index:9998;
	font-size:20px;
  margin-top: 100;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
	transition: all 0.5s;
}

nav.navScroll {
  position:fixed;
  background-color: #ff7b34;
  border-color: #ff7b34;
  font-size:15px;
  margin-top: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
	transition: all 0.5s;
	color: #fff;
}

img.logo {
	float:left;
	display:none;
	transition: all 0.5s;
  z-index:10000;
}

img.logoScroll {
	display:inline;
	width:50px;
	padding:5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
	transition:all 0.5s;
}

div.menu {
	text-align:center;
}

div.menuScroll {
	float:right;
}
ul.navbar-nav {
  background: #ff7b34;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;
  border-color: transparent;
}
  
li.nav {
  float: right;
  background: #ff7b34;
	display:inline;
	text-decoration:none;
	padding-left:15px;
}

  .nav .active a {
    background-color: #7f5640;
  }
  
	li.nav a {
		list-style-type: none;
		text-decoration:none;
		color:#fff;
		text-shadow:0.5px 0 0 rgba(255,255,255,0.5);
	}

	li.nav a:hover {
    background-color: #7f5640;
	}

.navScroll .active a {
  background-color: #7f5640;
}

nav a.selected {
  background-color: #7f5640;
}

a.navbar-link {
  color:#7f5640;
  margin-top: 10;
  padding-top: 10;
  margin-right: 20;
  padding-right: 10;
  float: right;
  z-index:10000;
}

/************
PROJECT STUFF
************/


#auditions {
  max-height: 500px;
  min-height: 500px;
  overflow-y: scroll;
}

.projects .col-md-3 {
  text-align: center;
}

.projects .mybutton {
  margin-top: 15;
  padding-bottom: 20;
}

.project button {
  color: grey;
}

.projects h1 {
  color: #b3b3b3;
  font-size: 30;
  font-weight: lighter;
  text-align: center;
}

.projects h2 {
  color: grey;
  font-size: 30;
  font-weight: lighter;
  text-align: center;
}

.projects h3 {
  margin-top: 20;
  color: grey;
  font-size: 35;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 14;
}

.projects p {
  padding-top: 20;
  color: grey;
  font-size: 20;
  font-weight: lighter;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
  vertical-align: center;
}

.projects table {
 border: none;
}
.projects tbody {
  min-height: 150;
  max-height: 150;
  overflow-y: scroll;      
  width: 90%;
}

.projects tbody>tr  {
  min-height: 20px;
  max-height: 50px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f5f5f5;
  /*border: 2px solid #e3e3e3;*/
  border-radius: 30px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

/***********
OTHER STUFF
***********/

.extra_padding {
  padding-bottom: 200px;
}

.placeholders {
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
}

.cover {
  padding-top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.landing {
  font-size: 25;
  text-align: center;
}
.site-wrapper-inner {
  vertical-align: middle;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/*PROFILE PAGE*/
.headshot {
  position: relative;
  float: left;
  width: 30%;
  border: 2px solid #040404; 
  border-radius: 30px;
  margin: 2%;
}

.personalInfo {
  position: relative;
  float: left;
  width: 60%;
  margin-top: 2%;
  font-size: 2em;
}

#name {
  position: relative;
  font-size: 2em;
}

.personalInfo > div {
  margin-bottom: 1%;
}

.attributeContent {
  float: left;
  border-color: #040404;
  border-style: solid;
  border-width: 2px;
  border-radius: 35px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: .5%;
}

.attributeContent:nth-child(1) {
  margin-left: 0;
}

#eyeColor img {
  background-color: deepskyblue;
  border-radius: 100%;
}

#skinTone img {
  background-color: bisque;
  border-radius: 100%;
}

.profileSectionHeader {
  position: relative;
  clear: both;
  font-size: 2em;
}

.workInfo {
  position: relative;
  clear: both;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 1.5em;
}

.experienceWraper {
  position: relative;
  margin-top: 1%;
}

.playName {
  position: relative;
  clear: both;
  float: left;
  margin-left: 2%;
}

.characterName {
  position: relative;
  clear: both;
  float: right;
  margin-right: 4%;
}

.skills {
  position: relative;
  clear: both;
  margin-left: 2%;
  margin-top: 1%;
}

/*SEARCH*/
.search-input {
  padding:5px;
}

.project-search>.project-search-heading {
  background-color:transparent;
  border:none;
}

.project-search-heading h3 {
  font-size: 36px;
}

/*PROJECT PAGE*/
.business-header {
  margin-top:-20px;
  height: 400px;
  background: url('http://placehold.it/1920x400') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.business-header .container {
  position: relative;
  top:75%;
  left:0;
  right:0;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
  font-size:72px;
  /*text-shadow: 0 0 10px #000;*/
  color: #fff;
}

.img-center {
    margin: 0 auto;
}

/*MESSAGES PAGE*/
.messageSelect {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  border-right: 1px solid #99825c;
}

.messageSelect li {
  list-style-type: none;
  margin-right: 10%;
}

.message {
  position: relative;
/*  border-bottom: 2px solid #040404;*/
/*  padding: .2%;*/
  text-align: center;
  width: 100%;
}

.messageContent {
  position: relative;
  float: left;
  width: 60%;
  display: block;
  margin-left: 3%;
/*  margin-right: auto;*/
/*  text-align: center;*/
  
}

.subject {
  position: relative;
  padding: .5%;
  font-weight: bold;
}
/*if(unread==true)bold;*/
/*if subject longer than 50 chars 50+"..."*/

.content {
  position: relative;
  padding: .5%;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    height: 400px;
    /*background: url('http://placehold.it/1920x400') center center no-repeat scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.business-tagline{
    /*text-shadow: 0 0 10px #000;*/
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

.role-panels {
  height:300px;
  /*border-top:1px solid rgba(128, 128, 128, 0.19);*/
  padding:10px;
  box-shadow:7px 11px 5px -9px rgba(0,0,0,0.44);
}

.audition-card .panel {
  border:none;
  border-top:1px solid rgba(214, 213, 213, 0.44);
  box-shadow:7px 11px 5px -9px rgba(0,0,0,0.44);
}
.role-apply {
  position: absolute;
  bottom:10;
}

.audition-panel-footer {
  border:none;
  background:white;
}

.ui-datepicker {
  background:white;
}
